<div class='widget-div'>
    <span class='widget-label'>Air Temperature:</span>
    <span class='widget-value'>{air_temp}&deg;F</span>
</div>
<div class='widget-div'>
    <span class='widget-label'>Pressure:</span>
    <span class='widget-value'>{pressure} mb</span>
</div>
<div class='widget-div'>
    <span class='widget-label'>Humidity:</span>
    <span class='widget-value'>{humidity}%</span>
</div>
<div class='widget-div'>
    <span class='widget-label'>Ground Temperature:</span>
    <span class='widget-value'>{ground_temp}&deg;F</span>
</div>
<div class='widget-div'>
    <span class='widget-label'>UV:</span>
    <span class='widget-value'>{uv}</span>
</div>
<div class='widget-div'>
    <span class='widget-label'>Wind Speed:</span>
    <span class='widget-value'>{wind_speed} mph</span>
</div>
<div class='widget-div'>
    <span class='widget-label'>Gust:</span>
    <span class='widget-value'>{gust} mph</span>
</div>
<div class='widget-div'>
    <span class='widget-label'>Rainfall:</span>
    <span class='widget-value'>{rainfall} in</span>
</div>
<div class='widget-div'>
    <span class='widget-label'>Rain Rate:</span>
    <span class='widget-value'>{rain_rate} in/hr</span>
</div>